<launch>

    <!-- two arguments to pass for robot initialization: name and position -->  
    <arg name="robot_name"/>
    <arg name="init_pose"/>


<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
	args="$(arg init_pose) -param /robot_description -urdf -model $(arg robot_name) " /> 


 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> 



<node pkg="amcl" type="amcl" name="amcl" output="screen">
  <remap from="scan" to="base_scan"/>
  <remap from="static_map" to="/static_map"/>
  <param name="global_frame_id" value="/map"/>
  <param name="odom_frame_id" value="$(arg robot_name)/odom"/>
  <param name="base_frame_id" value="$(arg robot_name)/base_link"/>
</node>


    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>
